<!-- layouts/shortcodes/gas_and_electricity.html -->

<table style="width: 80%;">
    <tr>
      <th>Gas & Electricity</th>
      <th></th>
    </tr>
    <tr>
      <td>Type of gas suitable</td>
      <td style="text-align: center;">{{ .Get "type_of_gas_suitable" }}</td>
    </tr>
    <tr>
      <td>Type of gas connection</td>
      <td style="text-align: center;">{{ .Get "type_of_gas_connection" }}</td>
    </tr>
    <tr>
      <td>Position gas connection</td>
      <td style="text-align: center;">{{ .Get "position_gas_connection" }}</td>
    </tr>
    <tr>
      <td>Voltage</td>
      <td style="text-align: center;">{{ .Get "voltage" }}</td>
    </tr>
    <tr>
      <td>Cord Length</td>
      <td style="text-align: center;">{{ .Get "cord_length" }}</td>
    </tr>
  </table>
  