<!-- layouts/shortcodes/product_table.html -->

<table style="width: 80%;">
    <tr>
      <th style="width: 80%;">Downloads</th>
      <th style="width: 20%;">Download</th>
    </tr>
    <tr>
      <td>User Manual</td>
      <td style="text-align: center;"><a href="{{ .Get "user_manual" }}" target="_blank"><i class="fas fa-download"></i></a></td>
    </tr>
    <tr>
      <td>Guarantee Conditions</td>
      <td style="text-align: center;"><a href="{{ .Get "guarantee_conditions" }}" target="_blank"><i class="fas fa-download"></i></a></td>
    </tr>
    <tr>
      <td>Maintenance Advice</td>
      <td style="text-align: center;"><a href="{{ .Get "maintenance_advice" }}" target="_blank"><i class="fas fa-download"></i></a></td>
    </tr>
  </table>
  