<!-- layouts/shortcodes/technical_downloads.html -->

<table style="width: 80%;">
    <tr>
      <th style="width: 80%;">Technical downloads</th>
      <th style="width: 20%;">Download</th>
    </tr>
    <tr>
      <td>Hole pattern complete (DXF)</td>
      <td style="text-align: center;"><a href="{{ .Get "dxf_file" }}" target="_blank"><i class="fas fa-download"></i></a></td>
    </tr>
    <tr>
      <td>DWG Files - Complete assortment</td>
      <td style="text-align: center;"><a href="{{ .Get "dwg_link" }}" target="_blank"><i class="fas fa-external-link-alt"></i></a></td>
    </tr>
    <tr>
      <td>SAT files - Complete assortment</td>
      <td style="text-align: center;"><a href="{{ .Get "sat_link" }}" target="_blank"><i class="fas fa-external-link-alt"></i></a></td>
    </tr>
  </table>
  